# =========================
# Laravel (inside laravel-app/)
# =========================
laravel-app/vendor/
laravel-app/node_modules/
laravel-app/.env
laravel-app/storage/*.key
laravel-app/storage/framework/cache/*
laravel-app/storage/framework/sessions/*
laravel-app/storage/framework/views/*
laravel-app/storage/logs/*
laravel-app/bootstrap/cache/*

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Docker
# =========================
docker/*.log

# =========================
# Misc
# =========================
*.log
